.itemlist{
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px 20px;
    margin: 10px;
}

.item {
    padding: auto;
    display: inline;
    padding: 0.5rem 0.5rem;
}

.item.title {
    font-weight: bold;
}

.spacer {
    flex: 1;
  }